{%- comment -%} Service, mentorship, and outreach. Shared by the Service & Outreach page and the CV. {%- endcomment -%}
<ul class="dated-list">
  <li><span class="when">2024-2025</span><span>Diversity Advisory Committee, Washington Department of Fish and Wildlife</span></li>
  <li><span class="when">2022-2023</span><span>Postdoctoral Representative, Equity and Inclusion Committee, UW School of Aquatic and Fishery Sciences</span></li>
  <li><span class="when">2021-2022</span><span>Mentor, Louis Stokes Alliance for Minority Participation (LSAMP), National Science Foundation</span></li>
  <li><span class="when">2019-2020</span><span>Mentor, Summer Undergraduate Internship Program, Children's Hospital of Philadelphia</span></li>
  <li><span class="when">2018-2019</span><span>Mentor, Summer Undergraduate Research Fellowship, Center for Clinical and Translational Science, Mayo Clinic</span></li>
  <li><span class="when">2014-2018</span><span>Beach Naturalist and Outreach Coordinator, Seattle Aquarium</span></li>
  <li><span class="when">2014-2016</span><span>Mentor, STEM Out! Outreach Program, American Association for the Advancement of Science</span></li>
  <li><span class="when">2011-2012</span><span>Science Outreach Mentor, Friday Harbor Laboratories</span></li>
  <li><span class="when">2008-2010</span><span>Mentor, K-12 Science in Action Outreach Program, Gonzaga University</span></li>
</ul>
